bin/
obj/

.vs/
.idea/
.vscode/

.idea/

*.nupkg
.nuget/

wwwroot/

*.cab
*.msi
*.msm
*.msp

venv/
env/
*.egg-info/

__pycache__/
*.pyc
*.pyo

.ipynb_checkpoints

.idea/

.DS_Store
Thumbs.db

dist/
build/
*.spec