*.exe
*.dll
*.so
*.dylib

*.user
*.userosscache
*.suo
*.vspscc
*.vssscc
*.sln.docstates
*.dbmdl
*.dbmdl.user
*.dbmdl.layout
*.dbmdl.layout.user
*.dbmdl.diagram
*.dbmdl.diagram.user
*.dbmdl.diagram.layout
*.dbmdl.diagram.layout.user

bin/
obj/
x64/
x86/
[Bb]in/
[Oo]bj/

*.nupkg
**/packages/

*.dotnet/sdk-extras/

TestResults/
*_TestResults/

.vscode/
*.code-workspace

*.mtb
*.mtb.user

_ReSharper.*/

*.sln.ide

project.lock.json
project.fragment.lock.json
artifacts/

*.runtimeconfig.json
*.deps.json
*.runtimeconfig.dev.json

# Unity3D files
Library/
Temp/
Obj/
*.bytes
*.csproj.user
*.csproj.DotSettings.user

# JetBrains dotCover files
*.dotCover

# Visual Studio Test Results
*.testsettings
*.vsmdi
*.testresults
*.testimpact
*.coverage
*.coveragexml
*.coveragereport
*.coverage.json
*.coverage.xml

# Visual Studio Code Coverage files
*.coverage
*.coveragexml
*.coveragereport
*.coverage.json
*.coverage.xml

# Visual Studio Test Results files
*.testsettings
*.vs
